{{!-- View to update or delete a post --}}
<div>
    <h4>Edit Post</h4>
</div>

<form>
    <div class="form-group">
        <input type="hidden" id="postTitle" name="postTitle" value={{post.title}}>
        <label for="exampleFormControlInput1">Title</label>
        {{!-- <input type="title" class="form-control" id="title" value={{post.title}}> --}}
        <div contenteditable class="form-control" id="title">{{post.title}}</div>
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Content</label>
        <textarea class="form-control" id="content" rows="3">{{post.description}}</textarea>
    </div>
    <input type="hidden" id="postId" name="postId" value={{post.id}}>
    <button type="submit" class="btn btn-primary" id="postUpdate">Update</button>
    <button type="submit" class="btn btn-primary" id="postDelete">Delete</button>
</form>

<script src="/js/posts.js"></script>