{{!-- Function to view posta nd all the comments associated to it--}}

<div class="row mb-4 custom-post">
  <div class="col-md-5">
    <h2>
      {{post.title}}
    </h2>
    <p>Created by {{post.user.name}} on {{format_date post.created_on}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.description}}
    </p>
  </div>
</div>

{{!-- {{format_date post.created_on}} --}}
{{!-- {{#if commentFlg}} --}}
  {{#each comments as |comment| }}
  <div>{{comment.description}}</div>
  <div> <p>Created by {{comment.user.name}} on {{format_date comment.created_on}}</p></div>
  {{/each}}
{{!-- {{/if}} --}}
